scopeName: 'source.choice'
name: 'Choice'
fileTypes: ['choice']
limitLineLength: false
patterns: [
  {
    name: 'comment.line'
    match: '[/][/].*$'
  },
  {
    begin: '\\[';
    end: '\\]';
    patterns: [{
      name: 'string';
      begin: '"';
      end: '"';
    },
    {
      name: 'constant.numeric';
      match: '[1-9][0-9]*';
    }];
  },
  {
    begin: '~';
    end: '$';
    patterns: [{
        name: 'entity.name.function';
        match: '[#]'
    }]
  },
  {
    name: 'string';
    begin: '"';
    end: '"';
  },
  {
    name: 'keyword';
    match: '[-]+>';
  },
  {
    name: 'keyword';
    match: '[|][-]+>';
  },
  {
    name: 'constant.character';
    match: '[ ][~][ ]';
  },
  {
    name: 'constant.character';
    match: '[ ][~]$';
  },
  {
    name: 'constant.character';
    match: '[ ][:][ ]';
  },
  {
    name: 'constant.character';
    match: ',';
  },
]
