scopeName: 'source.choice'
name: 'Choice'
fileTypes: ['choice']
limitLineLength: false
patterns: [
  {
    name: 'comment'
    match: '[;]'
  },
  {
    name: 'comment.line'
    match: '\\/\\/.*$'
  },
  {
    begin: '\\['
    end: '\\]'
    patterns: [{
      include: "$self"
    }]
  },
  {
    name: 'entity.name.function'
    match: '#\\w+'
  },
  {
    match: '(#[:])(\\w+)'
    captures: {
      1: { name: 'variable.language' },
      2: { name: 'variable.language' }
    }
  }
  {
    name: 'string'
    begin: '"'
    end: '"'
  },
  {
    name: 'keyword'
    match: '=*-*+>'
  },
  {
    name: 'keyword.control'
    match: '-if|-switch'
  },
  {
    match: '(extra\\()(.*)(\\))'
    captures: {
      1: { name: 'keyword' },
      2: { patterns: [{include: '$self'}] },
      3: { name: 'keyword' }
    }
  },
  {
    name: 'constant.character'
    match: '[:~.]'
  },
  {
    name: 'constant.numeric'
    match: '[0-9][0-9]*'
  },
  {
    name: 'constant.language'
    match: '\\btrue\\b|\\bfalse\\b'
  },
]
